# Configuration RSyslog pour le serveur
module(load="imtcp")

# Configuration SSL pour sécuriser les connexions
global(
    DefaultNetstreamDriver="gtls"
   DefaultNetstreamDriverCAFile="{{ ssl_cert_path }}/server.crt"
    DefaultNetstreamDriverCertFile="{{ ssl_cert_path }}/server.crt"
    DefaultNetstreamDriverKeyFile="{{ ssl_cert_path }}/server.key"
)


# Configuration de l'écoute
input(type="imtcp" port="{{ rsyslog_server_port }}")


# Template pour organiser les logs par IP et programme
template(name="RemoteLogs" type="string" string="/var/log/clients/%HOSTNAME%/%PROGRAMNAME%.log")

# Règles pour les logs distants
if $fromhost-ip != '127.0.0.1' then {
    action(type="omfile" dynaFile="RemoteLogs" dirCreateMode="0750" fileCreateMode="0640")
    stop
}

